.logo {
    font-size: 48px;
    font-weight: bold;
    color: black;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    font-family: 'Cinzel', serif;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin-bottom: 30px;
    display: inline-block;
    padding-bottom: 5px;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #b0d4f1, #f0f8ff);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.game-container {
    text-align: center;
    background: linear-gradient(to top, #ffffff, #e6f7ff);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

h1 {
    font-size: 28px;
    color: #007bff;
    margin-bottom: 15px;
    text-shadow: 2px 2px #d1e7ff;
}

#hangman-image img {
    max-width: 100%;
    margin: 20px 0;
    border-radius: 10px;
}

#score-lives {
    font-size: 18px;
    margin: 10px 0;
    color: #ff4500;
    font-weight: bold;
}

#word-display {
    font-size: 24px;
    margin: 20px 0;
    letter-spacing: 5px;
    font-weight: bold;
    color: #444;
}

#guessed-letters-container p {
    font-size: 16px;
    color: #888;
    margin: 10px 0;
}

input, button {
    padding: 10px;
    margin: 10px 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    transition: all 0.3s ease;
}

input {
    width: calc(100% - 24px);
    outline: none;
    border: 1px solid #007bff;
    background-color: #e6f7ff;
    color: #333;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border: none;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #0056b3;
    transform: scale(1.05);
}

#message-container {
    font-size: 18px;
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    transition: color 0.3s ease;
}

@media (max-width: 768px) {
    .game-container {
        max-width: 90%;
    }

    h1 {
        font-size: 24px;
    }

    #word-display {
        font-size: 20px;
    }

    input, button {
        font-size: 14px;
        padding: 8px;
    }

    #message-container {
        font-size: 16px;
    }
}
